@charset "utf-8";
/*
   Style Sheet for Grids used in the About Alex website
   Author: Alexander Ascencio
   Date:   06/20/2023
   
   Filename: project_grids.css

*/


/* Grid Styles for Page Body */

body {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas:"header  header"
						"intro  img"
						"articles img"
						"footer  footer";
	grid-column-gap: 15px;
}

body > header {
	grid-row: 1;
	grid-column: 1/-1;
}

body > article {grid-area: intro;}
body > aside {grid-area: img;}
body > section {grid-area: articles;}
body > footer {grid-area: footer;}

/* Grid Styles for Nested Grid */

section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

section > h1 {
	grid-area: 1/1/2/3;
}
